body{
    margin: 0;
    overflow: hidden;
}

.orang{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.container{
    background-color: #353535;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: animatecolor 2s;
}
@keyframes animatecolor{
    0%{
        background-color: #ffffff;
    }
    100%{
        background-color: #353535;
    }
}
span {
    display: inline-block;
    color: #fff;
    opacity: 0;
    filter: blur(4px);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .container {
    font-size: 2rem;
  }


@media screen and (min-width: 992px) {
    .animate6 {
        position: absolute;
        top: 10vmin;
        left: 60vmax;
    }
    .animate4 {
            position: absolute;
            top: 40vmin;
            left: 10vmax;
    }
    
       .animate3 {
            position: absolute;
            top: 20vmin;
            left: 30vmax;
    }
    
    .animate2 {
            position: absolute;
            top: 10vmin;
            left: 10vmax;
    }
    
    .animate5 {
            position: absolute;
            top: 40vmin;
            left: 60vmax;
    }
    
    .animate1 {
            position: absolute;
            top: 25vmin;
            left: 75vmax;
    }
}

@media screen and (max-width: 991px){
    .animate6 {
        position: absolute;
        top: 10vmin;
        left: 60vmax;
    }
    .animate4 {
            position: absolute;
            top: 40vmin;
            left: 10vmax;
    }
    
       .animate3 {
            position: absolute;
            top: 20vmin;
            left: 30vmax;
    }
    
    .animate2 {
            position: absolute;
            top: 10vmin;
            left: 10vmax;
    }
    
    .animate5 {
            position: absolute;
            top: 40vmin;
            left: 60vmax;
    }
    
    .animate1 {
            position: absolute;
            top: 25vmin;
            left: 75vmax;
    }
}